@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eq79pp');
  src:  url('fonts/icomoon.eot?eq79pp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eq79pp') format('truetype'),
    url('fonts/icomoon.woff?eq79pp') format('woff'),
    url('fonts/icomoon.svg?eq79pp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-flag:before {
  content: "\e902";
}
.icon-hourglass-start:before {
  content: "\e903";
}
.icon-pause:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-stop:before {
  content: "\e907";
}
.icon-stopwatch:before {
  content: "\e908";
}
.icon-xmark:before {
  content: "\e909";
}
